*{

  margin: 0;
  padding: 0;

  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.container{

  width: 100%;
  height: 100vh;
  background: url(images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 5%;
  color: white;
}

nav{

  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;

}

.logo{

  width: 50px;
  cursor: pointer;
  margin-right: 30px;
}

nav ul{

  flex: 1; /*use the entire available space in the row*/
  
}

nav ul li{

  display: inline-block;
  margin: 10px 20px;

}

nav ul li a{

  color: white;
  text-decoration: none;

}

nav .btn{


  color: white;

  text-decoration: none;
  border: 2px solid white ;
  padding: 10px 30px;
  border-radius: 20px;

}


.content{

  margin-top: 7%;

}

.content h1{

  font-size: 88px;
  margin-bottom: 15px;

}

.content h1 span{

  color: #ff960b;
}

.content p{

  line-height: 30px;
 
  font-size: 22px;

}

.content .btn{

  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  background: #ff960b;
  color: white;

  text-decoration: none;
  padding: 15px 25px;
  border-radius: 30px;
}


.coin-list{

  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;

}
 .coin{
display: flex;
align-items: center;
font-size: 14px;
margin: 0 15px;
color: rgb(255, 150, 11);
border: 2px solid white;
padding: 15px 25px;
border-radius: 8px;
cursor: pointer;

}

.coin:hover {
  transform: scale(1.2); /* Slightly expand the div */
  box-shadow: 0 4px 12px rgba(255, 145, 0, 0.5);
  transition: transform 0.05s linear;
}


.coin img{

  width: 60px;
  margin-right: 10px;

}

.coin h3{

  color: white;
  font-size: 30px;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

.coin h3:hover {
  color: #ff9900; /* Highlight the price on hover */
}

.rocket-container{

 
 
  z-index: 2;

}
.rocket {
  z-index: 2;
  width: 200px;
  filter: invert(1);
  position: absolute;
  right: 5px;
  bottom: -50px;
  animation: rocket 3s linear infinite;
}

@keyframes rocket {

  0%{

    bottom: -50px;
    opacity: 0;
  }

  50%{

    bottom: 10%;
    opacity: 1;
  }

  100%{

    bottom: 105%;
    opacity: 1;
  }
  
}




